.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.product
{
    text-align: center;
    align-content: center;
    background-color: #8da8c2;
    color:black;
    cursor: pointer;
    width : 200px;
}
.product:hover
{
    background-color: lightgrey;
}
.product:active
{
    background-color: lightgreen;
}
